.container {
  width: 100%;
  padding: 0 0.5rem;
}

.albumsTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #1c1c25;
}

.albumsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
