.container {
  width: 35%;
  /* border: solid green 2px; */
  position: relative;
}

.artistTags {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100%;
}

.artist {
  padding-left: 0.5rem;
  font-weight: 800;
  width: 100%;
  font-size: 3vw;
}

.tags {
  text-transform: capitalize;
  margin-left: 0.5rem;
}

.artistPhoto {
  width: 100%;
  height: 20rem;
}
