.container {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
}

.profileVideo {
  display: flex;

  width: 100%;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}

.albumsRelated {
  display: flex;
  flex-direction: column;
  width: 67%;
}
