.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
}

.profileVideo {
  display: flex;
  width: 67%;
}

.tracksAlbums {
  width: 100%;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}

.albumsRelated {
  display: flex;
  flex-direction: column;
  width: 67%;
}

@media screen and (max-width: 1000px) {
  .profileVideo {
    width: 100%;
  }
  .albumsRelated {
    width: 50%;
  }
}
