.container {
  width: 33%;
  height: 20rem;
}

.youtubeImage {
  height: 20rem;
  width: 100%;
}

iframe {
  height: 20rem;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
  .youtubeImage {
    width: 100%;
    padding-bottom: 1rem;
  }
  iframe {
    padding-bottom: 1rem;
  }
}
