.container {
  width: 33.67%;
  height: 20rem;
}

.mainTracksTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #1c1c25;
}
